{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Освіта</h2>

    <ol class="list-group list-group-numbered">

        {% for ed in profile.educations.all %}

        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ ed.institution_name }}</div>
                <div>{{ ed.start_date }} - {{ end_date }}</div>
                <div>{{  description  }}</div>
            </div>
            <span class="badge text-bg-primary rounded-pill">14</span>
        </li>
        {% endfor %}
    </ol>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Зберегти</button>
        <a href="{% url 'education-create' profile.pk %}" class="button1">Далі</a>

    </form>



</div>



{% endblock %}
