<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резюме</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <h1> first_name   last_name </h1>
            <p> job_title </p>
        </div>
        <div class="contact-info">
            <p><strong>Email:</strong>  email </p>
            <p><strong>Телефон:</strong>  phone </p>
            <p><strong>Адреса:</strong>  address </p>
            <p><strong>Вебсайт:</strong> <a href="" target="_blank"> site </a></p>
        </div>
    
        <div class="section">
            <h2>Про мене</h2>
            <p> profile </p>
        </div>
    
        <div class="section">
            <h2>Досвід роботи</h2>
            <p><strong> job_title </strong> – {{ company_name </p>
            <p>{{ start_date }} - {{ end_date }} {{ still_work }}</p>
            <p>{{ description }}</p>
        </div>
    
        <div class="section">
            <h2>Освіта</h2>
            <p><strong>{{ institution_name }}</strong></p>
            <p>{{ description }}</p>
        </div>
    
        <div class="section">
            <h2>Навички</h2>
            <p><strong>{{ name }}:</strong> {{ rate }}</p>
        </div>
    </div>
    
    </body>
    </html>