body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.contact-info, .section {
    margin-bottom: 20px;
}
.section h2 {
    color: #555;
    border-bottom: 2px solid #e4e4e4;
    padding-bottom: 5px;
}
.section p {
    margin: 5px 0;
}


a{
    color: #555;
    text-decoration: none;
}


.button1 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: None;
    text-align: center;
}

.button1:hover {
    background-color: #218838;
}

@media print {

 .button1{
   display: none;
 }
 }